{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>kandoo</title>
</head>
<body>
<header>My Friendship Bracelets</header>
{% if user.is_authenticated %}
    <p> hello {{ user.username }}</p>
    <form role="checkbox" method="post">
        {% csrf_token %}
        <input type="checkbox" name="test" value="sade"> my BTN <br>
        <input type="checkbox" name="test" value="sade2"> my BTN 2<br>
        <input type="submit" value="OK">
    </form>
    <a href="{% url 'log_out' %}"> Exit </a>
{% else %}
    <p> Enter</p>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Enter">
    </form>
    <p> Or Create a New Account</p>
    <a href="{% url 'user_creation' %}"> sign up</a>

{% endif %}
</body>
</html>